@import '../../breakpoints';

.loginContainer {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginwrapper {
        padding: 2rem;
        width: 25%;
        background-color: white;
        @include mobile {
            width: 75%;
        }

        .logintitle {
            font-size: 2.4rem;
            font-weight: 300;
        }

        .loginBox {
            display: flex;
            flex-direction: column;

            .loginInput {
                flex: 1;
                min-width: 40%;
                margin: 1rem 0rem;
                padding: 1rem;
            }
            .errorSpan{
                color: red;
            }

        }

        .loginButton {
            width: 40%;
            border: none;
            padding: 1.5rem 2rem;
            background-color: teal;
            color: white;
            margin-bottom: 1rem;

        }

        .loginLink {
            margin: 0.5rem 0rem;
            font-size: 1.2rem;
            text-decoration: underline;
            cursor: pointer;
        }

    }
}