.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .featuredItem {
        flex: 1;
        margin: 0 2rem;
        padding: 3rem;
        cursor: pointer;
        border-radius: 1rem;
        box-shadow: -3px -4px 74px -36px rgba(0, 0, 0, 0.48);
        -webkit-box-shadow: -3px -4px 74px -36px rgba(0, 0, 0, 0.48);
        -moz-box-shadow: -3px -4px 74px -36px rgba(0, 0, 0, 0.48);

        .featuredTitle {
            font-size: 2rem;
        }

        .featuredMoneyContainer {
            margin: 1rem 0rem;
            display: flex;
            align-items: center;

            .featuredMoney {
                font-size: 3rem;
                font-weight: 600;
            }

            .featuredMoneyRate {
                display: flex;
                align-items: center;
                margin-left: 2rem ;
                .featuredIcon{
                    font-size: 1.4rem;
                    margin-left: 0.5rem;
                    color: green;
                }
                .featuredIcon.negative{
                    color: red;
                }
                
            }
        }
        .featuredSub{
            font-size: 1.5rem;
            color: gray;
        }
    }
}