@import '../../breakpoints';


.newsletterContainer{
    height: 60vh;
    background-color: #fcf5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .newsletterTitle{
        font-size: 7rem;
        margin-bottom: 2rem;
        @include mobile {
            font-size: 6rem;
        }
    }
    .newsletterDesc{
        font-size: 2.4rem;
        font-weight: 300;
        margin-bottom: 2rem;
        @include mobile {
            text-align: center;
        }
    }
    .inputContainer{
        background-color: rgb(255, 255, 255);
        width: 50%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        border: 0.1rem solid lightgray;
        @include mobile {
            width: 80%;
        }

        .input{
            border: none;
            flex: 8;
            padding-left: 2rem;
        }
        .inputButton{
            flex: 1;
            border: none;
            background-color: teal;
            color: white;
        }
    }
}